@h1: 90px;
@h2: 48px;
@h3: 32px;

.accordion-card-widget {
  display: grid;
  margin-bottom: @space-s;
  // background-color: white;
  border: 1px solid @grey25;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0 3px rgba(@blue, 0);
  transition-property: box-shadow;
  transition-duration: @duration-s;
  transition-timing-function: @bezier-fastout-slowin;

  font-size: 24px;
  line-height: 1.4;
  text-align: left;
  position: relative;

  &:focus {
    outline: none;
  }

  &::before {
    @offset: 4px;

    content: "";
    position: absolute;
    top: @offset;
    bottom: @offset;
    left: @offset;
    right: @offset;
    pointer-events: none;
  }

  &--hover {
    box-shadow: 0 0 0 3px rgba(@blue, 0.25);
    border-radius: 7px;
  }

  &--selected {
    box-shadow: 0 0 0 3px rgba(@blue, 0.5);
    border-radius: 7px;
  }
}

.accordion-card-widget__header {
  // padding-top: 120px;
  // display: inline-flex;
  // align-items: end;
  gap: 0;
  // width: 100%;
  background: url("https://images.unsplash.com/photo-1617032869717-206e809076a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
}

.accordion-card-widget__header-image-controls {
  padding-left: @space-l;
  padding-top: @space-l;
  display: grid;
  height: 120px;

  .kl-tooltip-target {
    width: 32px;
  }
}

.accordion-card-widget__header-content {
  padding: @space-m;
  display: inline-flex;
  align-items: end;
  gap: @space-s;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.accordion-card-widget__header-button {
  display: grid;
  align-items: center;
  height: 1.4em;
  font-size: 24px;

  &--h1 {
    font-size: @h1;
  }

  &--h2 {
    font-size: @h2;
  }

  &--h3 {
    font-size: @h3;
  }
}

.accordion-card-widget__header-text {
  display: grid;
  align-self: stretch;
  width: 100%;
  padding-left: @space-s;

  &:empty::before {
    content: attr(placeholder);
    // color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &--h1 {
    font-size: @h1;
  }

  &--h2 {
    font-size: @h2;
  }

  &--h3 {
    font-size: @h3;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }
}

.accordion-card-widget__body {
  background-color: white;
  padding: @space-l;
  // margin-top: @space-s;
  color: @slate;
}

.accordion-card-widget__body-text {
  &:empty::before {
    content: attr(placeholder);
    // color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.accordion-card-widget__body-transition-wrapper {
  // Hide content while it's transitioning
  overflow: hidden;
  // Useful to split out the transition properties if transitioning multiple properties, or if you have different timing/duration for diff properties
  transition: height @duration-m @bezier-fastout-slowin;
}

.accordion-card-widget__header-hint {
  display: inline-flex;
  align-items: center;
  gap: @space-xs;
  font-size: 14px;
  padding-top: @space-s;
  padding-left: @space-xl;

  &-key {
    border-radius: 4px;
    background-color: @grey25;
    color: @slate;
    padding: @space-xs;
  }
}
