@import "./Block/index";

.proto-editor {
  width: 100%;

  &__content {
    overflow-y: auto;
    height: calc(100vh - 72px);
  }
}

.splash-block--dark .accordion-widget .button__icon-wrapper {
  color: white;
}

a .button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: @space-m;
  margin: 0 @space-xl @space-m 0;
  z-index: 1;
}
