.accordion-widget {
  display: grid;
  margin-bottom: @space-s;
  gap: @space-s;
  padding: @space-s;
  // background-color: white;
  // border: 1px solid @grey25;
  // border-radius: 8px;

  // Text styling
  // color: @slate;
  font-size: 24px;
  line-height: 1.4;
  text-align: left;
  position: relative;

  &::before {
    @offset: 3px;

    content: "";
    position: absolute;
    top: @offset;
    bottom: @offset;
    left: @offset;
    right: @offset;
    pointer-events: none;
  }

  &--hover {
    box-shadow: 0 0 0 3px rgba(@blue, 0.25);
    border-radius: 7px;
    // How do I animate the selection border if I've triggered it using event listeners?
    transition-property: opacity;
    transition-duration: @duration-s;
    transition-timing-function: @bezier-fastout-slowin;
  }

  &--selected {
    box-shadow: 0 0 0 3px rgba(@blue, 0.5);
    border-radius: 7px;
  }

  &__header-text:empty::before,
  &__body-text:empty::before {
    content: attr(placeholder);
    color: rgba(255, 255, 255, 0.5);
  }

  &__header-text:focus,
  &__body-text:focus {
    outline: none;
  }
}

.accordion-widget__header {
  display: inline-flex;
  align-items: start;
  width: 100%;
}

.accordion-widget__header-button {
  display: grid;
  align-items: center;
  // height: 49px;
}

.accordion-widget__header-text {
  display: grid;
  align-self: stretch;
  width: 100%;
  padding-left: @space-s;

  &--h1 {
    font-size: 90px;
  }

  &--h2 {
    font-size: 48px;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }
}

.accordion-widget__body {
  border-radius: 4px;
  background-color: @grey10;
  padding: @space-s @space-s @space-s @space-xl;
}

.accordion-widget__body-text {
}
